.dashboardProductTable {
  background-color: white;
  padding: 2rem;
  overflow: auto;
}

.addProductBtn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  @include flex(row, center, center, 0);
  @include square(2.5rem);
  // padding: 1rem;
  background-color: rgb(201, 9, 9);
  color: white;
  border-radius: 50%;

  &:hover {
    opacity: 0.7;
  }
}

.productMangement {
  @include flex(row, center, unset, 0);
  padding: 4rem;

  > section {
    overflow: auto;
    width: 100%;
    height: 85vh;
    max-width: 500px;
    box-shadow: 0 5px 5px rgba(13, 13, 13, 0.296);
    background-color: white;
    padding: 5rem;
    position: relative;
    @include flex(column, unset, unset, 1rem);
    border-radius: 5px;

    > h2 {
      @include heading(2px, center);
      text-align: center;
    }

    > img {
      @include square(100%);
      object-fit: cover;
    }

    > strong {
      font-weight: 300;
    }

    > span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    > p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    > h4 {
      text-align: center;
      font-size: 2rem;
    }
  }

  > article {
    margin: auto;
    height: 85vh;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px rgba($color: #000000, $alpha: 0.1);
    position: relative;

    >svg{
      font-size: 3rem;
      position: absolute;
      right: -26px;
      color: white;
      top: -16px;
      background-color: rgb(238, 34, 34);
      padding: 0.6rem;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
    
    &:hover{
      opacity: 0.7;
    }}
    > form {
      margin: 2rem auto;
      @include flex(column, unset, center, 2rem);
      > h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      > img {
        @include square(5rem);
        object-fit: cover;
        border-radius: 5px;
      }

      > div {
        width: 100%;
        position: relative;
        > label {
          position: absolute;
          left: 0;
          top: -1.5rem;
        }

        > input {
          @include inputStyle(
            100%,
            1rem,
            unset,
            1px solid rgba(13, 13, 13, 0.196)
          );
          border-radius: 5px;
        }
      }

      > button {
        padding: 1rem;
        border: none;
        background-color: rgba(5, 107, 224, 1);
        color: white;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .shippingInfoCard {
    > h1 {
      text-align: center;
      @include heading(2px);
    }
    > h5 {
      margin: 2rem 0 0 0.5rem;
      font-size: 1.15rem;
      font-weight: 700;
      opacity: 0.6;
    }
    > p {
      margin: 0.5rem;
    }
    > button {
      margin: 2rem 0;
      padding: 1rem;
      background-color: rgba(5, 107, 224, 1);
      color: white;
      width: 100%;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.transctionProductCard {
  @include flex(row, unset, center, 1rem);
  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }
  > span {
    margin-left: auto;
  }
}
